* {
  font-family: "Arial", sans-serif;
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
}

body {
  background-color: #f4f4f4f4;
}

.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #2f0f70;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  z-index: 1000;
}

.top-bar img {
  position: absolute;
  left: 15px;
  width: 70px;
}

.top-bar a {
  color: white;
  text-decoration: none;
  font-size: 23px;
  transition: 0.3s ease;
}

.top-bar a:hover {
  transform: scale(1.25);
  color: #b47aff;
}

.contatofundo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 250px;
}

#contato {
  background-color: white;
  width: 600px;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: #2f0f70;
}

#contato h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

#contato h3 {
  font-weight: normal;
  color: #555;
  margin-bottom: 25px;
}

#contato input {
  width: 100%;
  margin-top: 15px;
  border: none;
  border-radius: 10px;
  background-color: #f3f3f3;
  color: #333;
  font-size: 18px;
  padding: 10px 15px;
}

#contato textarea {
  width: 100%;
  margin-top: 15px;
  border: none;
  border-radius: 10px;
  background-color: #f3f3f3;
  color: #333;
  font-size: 18px;
  padding: 8px 15px;
  resize: none;
}

#contato button {
  margin-top: 25px;
  padding: 15px;
  background: linear-gradient(90deg, #2f0f70, #b47aff);
  color: white;
  width: 100%;
  border-radius: 35px;
  cursor: pointer;
  border: none;
  font-size: 18px;
  transition: 0.3s ease;
}

#contato button:hover {
  transform: scale(0.97);
}