* {
  font-family: "Arial", sans-serif;
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
}

body {
  background-color: #f4f4f4f4;
}

.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #2f0f70;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  z-index: 1000;
}

.top-bar img {
  position: absolute;
  left: 15px;
  width: 70px;
}

.top-bar a {
  color: white;
  text-decoration: none;
  font-size: 23px;
  transition: 0.3s ease;
}

.top-bar a:hover {
  transform: scale(1.25);
  color: #b47aff;
}

.titulo {
  text-align: center;
  padding-top: 100px;
  color: #310b45;
  font-style: italic;
  font-size: 35px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 60px 20px;

}

.card {
  background-color: #ffffff;
  width: 320px;
  min-height: 340px;
  text-align: center;
  border-left: 8px solid #2f0f70;
  border-radius: 12px;
  padding: 20px;
  transition: 0.3s ease;
  cursor: default;
}

.card:hover {
  transform: translateY(-10px);
}

.card img:hover {
  transform: translateY(10px) scale(1.1);
  transition: 0.4s ease;
}

.card img {
  height: 90px;
  width: auto;
  margin-bottom: 15px;
}

.card h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}

.rodape {
  text-align: center;
  padding: 10px;
  background: #2f0f70;
  color: white;
  margin-top: 190px;
}

.rodape img {
  width: 35px;
  margin: 0 10px;
  transition: 0.3s ease;
  border-radius: 10px;
}

.rodape img:hover {
  transform: scale(1.2);
}