* {
    font-family: "Arial", sans-serif;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

body {
    background: #f4f4f4f4;
}

.top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #2f0f70;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    z-index: 1000;
}

.top-bar img {
    position: absolute;
    left: 15px;
    width: 70px;
}

.top-bar a {
    color: white;
    text-decoration: none;
    font-size: 23px;
    transition: 0.3s ease;
}

.top-bar a:hover {
    transform: scale(1.25);
    color: #b47aff;
}

.titulo {
    text-align: center;
    margin-top: 150px;
    cursor: default;
}

.lighter {
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
}

.negrito {
    font-weight: 900;
}

.setabaixo {
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    margin-left: 10px;
    border-right: 9px solid transparent;
    border-top: 17px solid black;
    animation: pular 1s infinite ease-in-out;
    transition: border-top-color 0.4s;
}

@keyframes pular {

    0%,
    100% {
        transform: translateY(0);

    }

    50% {
        transform: translateY(-6px);
    }

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
    margin-top: 100px;
}

.jogo {
    text-align: center;
}

.jogo img {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    border: none;
    box-shadow: 2px 2px 10px 0 rgb(0, 0, 0);
    transition: transform 0.3s ease;
}

.jogo img:hover {
    transform: scale(1.05);
}

.numero {
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 10px;
    line-height: 50px;
}

.jogo h1 {
    color: #2f0f70;
    margin-top: 10px;
    transition: color 0.6 ease, transform 0.3s ease;
    cursor: default;
}

.jogo h1:hover {
    color: #b47aff;
    transform: scale(1.1);
}

.btn {
    background-color: #b47aff;
    color: white;
    border: none;
    padding: 12px 15px;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 10px;
}

.btn:hover {
    background-color: #a061ff;
    transform: scale(1.1);
    box-shadow: 2px 2px 10px 0 rgb(0, 0, 0);
}